# project
.venv/
.cache/
recordings/*
logs/*
*.trt
data/models/archive/
apps/**/data/settings/.*
apps/**/data/recordings/*
!apps/**/data/recordings/.gitkeep
temp/*

# Python
__pycache__/
*.py[cod]
*$py.class
