cuda-python==12.9.4
cupy-cuda12x==13.6.0
# tensorrt-cu12

depthai==2.30.0                 # latest version
ffmpeg-python==0.2.0            # latest version
glfw==2.9.0                     # latest version
mmdet==3.2.0                        # compatible with mmcv==2.1.0
mmpose==1.3.2                       # compatible with mmcv==2.1.0
numba==0.61.2                   # latest version
numpy<2.0.0                         # needed for torch?
OneEuroFilter==0.2.1            # latest version
onnx==1.20.0
onnxruntime-gpu==1.23.2
onnx_simplifier==0.4.36
opencv-python==4.11.0.86            # highest version with numpy<2.0.0
opencv-contrib-python==4.11.0.86    # highest version with numpy<2.0.0
pandas==2.3.2                   # latest version
Pillow==11.3.0                  # latest version
psutil==7.0.0                   # latest version
python-osc==1.9.3               # latest version
pytweening==1.2.0               # latest version
typing-extensions==4.15.0       # latest version for torch
watchdog==6.0.0                 # latest version
