--extra-index-url https://download.pytorch.org/whl/cu129

cuda-python==13.1.0
onnx==1.20.0
onnx_simplifier==0.4.36
onnxruntime-gpu==1.23.2
Pillow==11.3.0
tensorrt-cu12==10.14.1.48.post1
torch==2.8.0+cu129
torchvision==0.23.0+cu129
